.col2 {
  margin-left: 55px;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  border-radius: 10px;
}

.col1 {
  margin-left: 15px;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  border-radius: 10px;
}

.bg {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}
